In [1]:
import pandas as pd

In [106]:
p2019= pd.read_csv('./data/LOCAL_PEOPLE_GU_2019.csv', encoding='CP949')
p2019.reset_index(inplace=True)
p2019 = p2019.shift(1, axis = 1)
p2019 = p2019.iloc[:, 1:5]
p2019

           기준일ID  시간대구분  자치구코드       총생활인구수
0       20190101      0  11110  247783.9476
1       20190101      0  11140  176516.2769
2       20190101      0  11170  287806.8492
3       20190101      0  11200  335106.5204
4       20190101      0  11215  399818.0269
...          ...    ...    ...          ...
211195  20191231     23  11620  512045.7410
211196  20191231     23  11650  507017.9562
211197  20191231     23  11680  701730.1925
211198  20191231     23  11710  776809.6518
211199  20191231     23  11740  522271.9542

[211200 rows x 4 columns]

In [107]:
p2019 = p2019.groupby('자치구코드').mean()
p2019 = p2019.iloc[:, 2:3]
p2019.rename(columns = {'총생활인구수':'2019'},inplace=True)
p2019

                2019
자치구코드
11110  306886.323877
11140  291872.795318
11170  294049.066741
11200  345244.119383
11215  378990.841097
11230  364486.000008
11260  355284.805842
11290  429305.573259
11305  298162.425631
11320  281671.122400
11350  519186.751595
11380  436686.116958
11410  376098.633497
11440  469370.502474
11470  391665.610890
11500  537360.811868
11530  393527.113821
11545  220919.972793
11560  469820.230265
11590  402713.241137
11620  487850.179000
11650  592668.768770
11680  810522.256667
11710  759487.346576
11740  476638.806867

In [98]:
p2020= pd.read_csv('./data/LOCAL_PEOPLE_GU_2020.csv', encoding='CP949')
p2020 = p2020.iloc[:, 1:4]
p2020 = p2020.groupby('자치구코드').mean()
p2020.drop(['시간대구분'], axis=1, inplace=True)
p2020.rename(columns = {'총생활인구수':'2020'},inplace=True)
p2020

                2020
자치구코드
11110  275555.993144
11140  252604.611623
11170  283614.696701
11200  342621.307950
11215  367330.149639
11230  355213.977781
11260  360004.543538
11290  427384.421259
11305  303782.660177
11320  281814.428918
11350  526883.757334
11380  449520.247335
11410  359832.010431
11440  453824.059308
11470  399224.705518
11500  541960.918953
11530  389371.038847
11545  223753.480186
11560  456574.696985
11590  395237.900464
11620  487266.856266
11650  570379.327014
11680  805079.565628
11710  748124.575286
11740  504200.849207

In [99]:
p2021= pd.read_csv('./data/LOCAL_PEOPLE_GU_2021.csv', encoding='CP949')
p2021 = p2021.iloc[:, 1:4]
p2021 = p2021.groupby('자치구코드').mean()
p2021.drop(['시간대구분'], axis=1, inplace=True)
p2021.rename(columns = {'총생활인구수':'2021'},inplace=True)
p2021

                2021
자치구코드
11110  266700.622316
11140  243923.430830
11170  278545.750866
11200  340106.213926
11215  354362.139467
11230  343347.061614
11260  351437.515650
11290  415884.011276
11305  294209.744717
11320  274932.918100
11350  508080.116694
11380  435181.239326
11410  353612.006986
11440  438452.891444
11470  384186.880879
11500  538723.469586
11530  382433.653994
11545  218658.003643
11560  458187.110566
11590  377430.215681
11620  469004.265904
11650  555706.663750
11680  786141.100883
11710  735115.068078
11740  503065.174853

In [100]:
p2022= pd.read_csv('./data/LOCAL_PEOPLE_GU_2022.csv', encoding='CP949')
p2022 = p2022.iloc[:, 1:4]
p2022 = p2022.groupby('자치구코드').mean()
p2022.drop(['시간대구분'], axis=1, inplace=True)
p2022.rename(columns = {'총생활인구수':'2022'},inplace=True)
p2022

                2022
자치구코드
11110  276494.038272
11140  258463.417693
11170  283023.014832
11200  340197.554836
11215  357346.864473
11230  344805.846954
11260  348109.313828
11290  414983.791877
11305  286544.520071
11320  268864.735618
11350  495486.443706
11380  429097.720872
11410  354841.295681
11440  445361.865144
11470  371073.140162
11500  538115.188640
11530  383571.126937
11545  218324.523956
11560  469401.263753
11590  379345.616363
11620  465291.644803
11650  555864.053466
11680  804282.957775
11710  741288.807983
11740  499820.997231

In [101]:
p2023= pd.read_csv('./data/LOCAL_PEOPLE_GU_2023.csv', encoding='CP949')
p2023 = p2023.iloc[:, 1:4]
p2023 = p2023.groupby('자치구코드').mean()
p2023.drop(['시간대구분'], axis=1, inplace=True)
p2023.rename(columns = {'총생활인구수':'2023'},inplace=True)
p2023

                2023
자치구코드
11110  279452.085614
11140  264173.059312
11170  281867.079744
11200  337202.060110
11215  358710.049725
11230  345201.375470
11260  341928.911182
11290  415975.969846
11305  277838.412389
11320  260379.259651
11350  483205.516305
11380  419347.240028
11410  355930.270018
11440  447281.187290
11470  363382.540101
11500  534033.918229
11530  383847.868807
11545  216598.845059
11560  472675.541920
11590  371832.322235
11620  457384.859565
11650  558168.032968
11680  814155.963499
11710  736256.937229
11740  498063.369940

In [130]:
p1 = pd.merge(p2019,p2020, how='inner',on='자치구코드')
p2 = pd.merge(p1, p2021, how='inner', on='자치구코드')
p3 = pd.merge(p2, p2022, how='inner', on='자치구코드')
LPG = pd.merge(p3, p2023, how='inner', on='자치구코드')

In [131]:
LPG

,2019,2020,2021,2022,2023
자치구코드,,,,,
11110,306886.323877,275555.993144,266700.622316,276494.038272,279452.085614
11140,291872.795318,252604.611623,243923.430830,258463.417693,264173.059312
11170,294049.066741,283614.696701,278545.750866,283023.014832,281867.079744
11200,345244.119383,342621.307950,340106.213926,340197.554836,337202.060110
11215,378990.841097,367330.149639,354362.139467,357346.864473,358710.049725
11230,364486.000008,355213.977781,343347.061614,344805.846954,345201.375470
11260,355284.805842,360004.543538,351437.515650,348109.313828,341928.911182
11290,429305.573259,427384.421259,415884.011276,414983.791877,415975.969846
11305,298162.425631,303782.660177,294209.744717,286544.520071,277838.412389
11320,281671.122400,281814.428918,274932.918100,268864.735618,260379.259651
11350,519186.751595,526883.757334,508080.116694,495486.443706,483205.516305
11380,436686.116958,449520.247335,435181.239326,429097.720872,419347.240028
11410,376098.633497,359832.010431,353612.006986,354841.295681,355930.270018
11440,469370.502474,453824.059308,438452.891444,445361.865144,447281.187290
11470,391665.610890,399224.705518,384186.880879,371073.140162,363382.540101
11500,537360.811868,541960.918953,538723.469586,538115.188640,534033.918229
11530,393527.113821,389371.038847,382433.653994,383571.126937,383847.868807
11545,220919.972793,223753.480186,218658.003643,218324.523956,216598.845059
11560,469820.230265,456574.696985,458187.110566,469401.263753,472675.541920
11590,402713.241137,395237.900464,377430.215681,379345.616363,371832.322235
11620,487850.179000,487266.856266,469004.265904,465291.644803,457384.859565
11650,592668.768770,570379.327014,555706.663750,555864.053466,558168.032968
11680,810522.256667,805079.565628,786141.100883,804282.957775,814155.963499
11710,759487.346576,748124.575286,735115.068078,741288.807983,736256.937229
11740,476638.806867,504200.849207,503065.174853,499820.997231,498063.369940

In [133]:
LPG['5개년평균']=(LPG['2019']+LPG['2020']+LPG['2021']+LPG['2022']+LPG['2023'])/5
LPG

,2019,2020,2021,2022,2023,5개년평균
자치구코드,,,,,,
11110,306886.323877,275555.993144,266700.622316,276494.038272,279452.085614,281017.812645
11140,291872.795318,252604.611623,243923.430830,258463.417693,264173.059312,262207.462955
11170,294049.066741,283614.696701,278545.750866,283023.014832,281867.079744,284219.921777
11200,345244.119383,342621.307950,340106.213926,340197.554836,337202.060110,341074.251241
11215,378990.841097,367330.149639,354362.139467,357346.864473,358710.049725,363348.008880
11230,364486.000008,355213.977781,343347.061614,344805.846954,345201.375470,350610.852365
11260,355284.805842,360004.543538,351437.515650,348109.313828,341928.911182,351353.018008
11290,429305.573259,427384.421259,415884.011276,414983.791877,415975.969846,420706.753503
11305,298162.425631,303782.660177,294209.744717,286544.520071,277838.412389,292107.552597
11320,281671.122400,281814.428918,274932.918100,268864.735618,260379.259651,273532.492937
11350,519186.751595,526883.757334,508080.116694,495486.443706,483205.516305,506568.517127
11380,436686.116958,449520.247335,435181.239326,429097.720872,419347.240028,433966.512904
11410,376098.633497,359832.010431,353612.006986,354841.295681,355930.270018,360062.843323
11440,469370.502474,453824.059308,438452.891444,445361.865144,447281.187290,450858.101132
11470,391665.610890,399224.705518,384186.880879,371073.140162,363382.540101,381906.575510
11500,537360.811868,541960.918953,538723.469586,538115.188640,534033.918229,538038.861455
11530,393527.113821,389371.038847,382433.653994,383571.126937,383847.868807,386550.160481
11545,220919.972793,223753.480186,218658.003643,218324.523956,216598.845059,219650.965127
11560,469820.230265,456574.696985,458187.110566,469401.263753,472675.541920,465331.768698
11590,402713.241137,395237.900464,377430.215681,379345.616363,371832.322235,385311.859176
11620,487850.179000,487266.856266,469004.265904,465291.644803,457384.859565,473359.561108
11650,592668.768770,570379.327014,555706.663750,555864.053466,558168.032968,566557.369194
11680,810522.256667,805079.565628,786141.100883,804282.957775,814155.963499,804036.368890
11710,759487.346576,748124.575286,735115.068078,741288.807983,736256.937229,744054.547030
11740,476638.806867,504200.849207,503065.174853,499820.997231,498063.369940,496357.839619

In [134]:
info= pd.read_excel('./data/행정동코드_매핑정보_20200325.xlsx', sheet_name="유입지코드")

In [135]:
info = info.iloc[0:25,0:3]

In [136]:
info

    RESD_CD RESD_DO_NM RESC_CT_NM
0     11110         서울        종로구
1     11140         서울         중구
2     11170         서울        용산구
3     11200         서울        성동구
4     11215         서울        광진구
5     11230         서울       동대문구
6     11260         서울        중랑구
7     11290         서울        성북구
8     11305         서울        강북구
9     11320         서울        도봉구
10    11350         서울        노원구
11    11380         서울        은평구
12    11410         서울       서대문구
13    11440         서울        마포구
14    11470         서울        양천구
15    11500         서울        강서구
16    11530         서울        구로구
17    11545         서울        금천구
18    11560         서울       영등포구
19    11590         서울        동작구
20    11620         서울        관악구
21    11650         서울        서초구
22    11680         서울        강남구
23    11710         서울        송파구
24    11740         서울        강동구

In [137]:
info.drop(['RESD_DO_NM'], axis=1, inplace=True)
info.rename(columns = {'RESD_CD':'자치구코드', 'RESC_CT_NM':'자치구'},inplace=True)
info

    자치구코드   자치구
0   11110   종로구
1   11140    중구
2   11170   용산구
3   11200   성동구
4   11215   광진구
5   11230  동대문구
6   11260   중랑구
7   11290   성북구
8   11305   강북구
9   11320   도봉구
10  11350   노원구
11  11380   은평구
12  11410  서대문구
13  11440   마포구
14  11470   양천구
15  11500   강서구
16  11530   구로구
17  11545   금천구
18  11560  영등포구
19  11590   동작구
20  11620   관악구
21  11650   서초구
22  11680   강남구
23  11710   송파구
24  11740   강동구

In [138]:
info = info.set_index("자치구코드")
info

        자치구
자치구코드
11110   종로구
11140    중구
11170   용산구
11200   성동구
11215   광진구
11230  동대문구
11260   중랑구
11290   성북구
11305   강북구
11320   도봉구
11350   노원구
11380   은평구
11410  서대문구
11440   마포구
11470   양천구
11500   강서구
11530   구로구
11545   금천구
11560  영등포구
11590   동작구
11620   관악구
11650   서초구
11680   강남구
11710   송파구
11740   강동구

In [139]:
LPG = pd.merge(info, LPG, how='inner', on='자치구코드')

In [140]:
LPG

,자치구,2019,2020,2021,2022,2023,5개년평균
자치구코드,,,,,,,
11110,종로구,306886.323877,275555.993144,266700.622316,276494.038272,279452.085614,281017.812645
11140,중구,291872.795318,252604.611623,243923.430830,258463.417693,264173.059312,262207.462955
11170,용산구,294049.066741,283614.696701,278545.750866,283023.014832,281867.079744,284219.921777
11200,성동구,345244.119383,342621.307950,340106.213926,340197.554836,337202.060110,341074.251241
11215,광진구,378990.841097,367330.149639,354362.139467,357346.864473,358710.049725,363348.008880
11230,동대문구,364486.000008,355213.977781,343347.061614,344805.846954,345201.375470,350610.852365
11260,중랑구,355284.805842,360004.543538,351437.515650,348109.313828,341928.911182,351353.018008
11290,성북구,429305.573259,427384.421259,415884.011276,414983.791877,415975.969846,420706.753503
11305,강북구,298162.425631,303782.660177,294209.744717,286544.520071,277838.412389,292107.552597
11320,도봉구,281671.122400,281814.428918,274932.918100,268864.735618,260379.259651,273532.492937
11350,노원구,519186.751595,526883.757334,508080.116694,495486.443706,483205.516305,506568.517127
11380,은평구,436686.116958,449520.247335,435181.239326,429097.720872,419347.240028,433966.512904
11410,서대문구,376098.633497,359832.010431,353612.006986,354841.295681,355930.270018,360062.843323
11440,마포구,469370.502474,453824.059308,438452.891444,445361.865144,447281.187290,450858.101132
11470,양천구,391665.610890,399224.705518,384186.880879,371073.140162,363382.540101,381906.575510
11500,강서구,537360.811868,541960.918953,538723.469586,538115.188640,534033.918229,538038.861455
11530,구로구,393527.113821,389371.038847,382433.653994,383571.126937,383847.868807,386550.160481
11545,금천구,220919.972793,223753.480186,218658.003643,218324.523956,216598.845059,219650.965127
11560,영등포구,469820.230265,456574.696985,458187.110566,469401.263753,472675.541920,465331.768698
11590,동작구,402713.241137,395237.900464,377430.215681,379345.616363,371832.322235,385311.859176
11620,관악구,487850.179000,487266.856266,469004.265904,465291.644803,457384.859565,473359.561108
11650,서초구,592668.768770,570379.327014,555706.663750,555864.053466,558168.032968,566557.369194
11680,강남구,810522.256667,805079.565628,786141.100883,804282.957775,814155.963499,804036.368890
11710,송파구,759487.346576,748124.575286,735115.068078,741288.807983,736256.937229,744054.547030
11740,강동구,476638.806867,504200.849207,503065.174853,499820.997231,498063.369940,496357.839619

In [143]:
LPG.to_csv("LOCAL_PEOPLE_GU.csv", encoding='CP949')