In [1]:
import pandas as pd

In [35]:
df= pd.read_csv('./data/서울시 상권분석서비스(상주인구-자치구).csv', encoding='CP949')
df = df.iloc[:, :4]
df = df.sort_values(by = ['자치구_코드', '기준_년분기_코드'])
df.rename(columns = {'자치구_코드':'자치구코드'},inplace=True)
df = df.groupby('자치구코드').mean()
df

C:\Users\ha0zzero\AppData\Local\Temp\ipykernel_12016\1364916456.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('자치구코드').mean()

          기준_년분기_코드       총_상주인구_수
자치구코드
11110  20211.368421  148631.526316
11140  20211.368421  123135.105263
11170  20211.368421  226119.368421
11200  20211.368421  295746.052632
11215  20211.368421  347659.894737
11230  20211.368421  338433.157895
11260  20211.368421  395967.578947
11290  20211.368421  428334.578947
11305  20211.368421  313156.894737
11320  20211.368421  331842.947368
11350  20211.368421  535525.789474
11380  20211.368421  474577.315789
11410  20211.368421  307717.947368
11440  20211.368421  356970.157895
11470  20211.368421  457149.052632
11500  20211.368421  585962.789474
11530  20211.368421  402254.631579
11545  20211.368421  229218.263158
11560  20211.368421  367139.315789
11590  20211.368421  390846.157895
11620  20211.368421  495869.894737
11650  20211.368421  420550.842105
11680  20211.368421  536668.736842
11710  20211.368421  660434.105263
11740  20211.368421  432868.631579

In [36]:
df.drop(['기준_년분기_코드'], axis=1, inplace=True)
df

            총_상주인구_수
자치구코드
11110  148631.526316
11140  123135.105263
11170  226119.368421
11200  295746.052632
11215  347659.894737
11230  338433.157895
11260  395967.578947
11290  428334.578947
11305  313156.894737
11320  331842.947368
11350  535525.789474
11380  474577.315789
11410  307717.947368
11440  356970.157895
11470  457149.052632
11500  585962.789474
11530  402254.631579
11545  229218.263158
11560  367139.315789
11590  390846.157895
11620  495869.894737
11650  420550.842105
11680  536668.736842
11710  660434.105263
11740  432868.631579

In [37]:
df.rename(columns = {'총_상주인구_수':'5개년평균'},inplace=True)

In [38]:
info= pd.read_excel('./data/행정동코드_매핑정보_20200325.xlsx', sheet_name="유입지코드")
info = info.iloc[0:25,0:3]
info.drop(['RESD_DO_NM'], axis=1, inplace=True)
info.rename(columns = {'RESD_CD':'자치구코드', 'RESC_CT_NM':'자치구'},inplace=True)
info

    자치구코드   자치구
0   11110   종로구
1   11140    중구
2   11170   용산구
3   11200   성동구
4   11215   광진구
5   11230  동대문구
6   11260   중랑구
7   11290   성북구
8   11305   강북구
9   11320   도봉구
10  11350   노원구
11  11380   은평구
12  11410  서대문구
13  11440   마포구
14  11470   양천구
15  11500   강서구
16  11530   구로구
17  11545   금천구
18  11560  영등포구
19  11590   동작구
20  11620   관악구
21  11650   서초구
22  11680   강남구
23  11710   송파구
24  11740   강동구

In [39]:
info = info.set_index("자치구코드")
df = pd.merge(info, df, how='inner', on='자치구코드')
df

        자치구          5개년평균
자치구코드
11110   종로구  148631.526316
11140    중구  123135.105263
11170   용산구  226119.368421
11200   성동구  295746.052632
11215   광진구  347659.894737
11230  동대문구  338433.157895
11260   중랑구  395967.578947
11290   성북구  428334.578947
11305   강북구  313156.894737
11320   도봉구  331842.947368
11350   노원구  535525.789474
11380   은평구  474577.315789
11410  서대문구  307717.947368
11440   마포구  356970.157895
11470   양천구  457149.052632
11500   강서구  585962.789474
11530   구로구  402254.631579
11545   금천구  229218.263158
11560  영등포구  367139.315789
11590   동작구  390846.157895
11620   관악구  495869.894737
11650   서초구  420550.842105
11680   강남구  536668.736842
11710   송파구  660434.105263
11740   강동구  432868.631579

In [41]:
df.to_csv("SETTLED_PEOPLE_GU.csv", encoding='CP949')