In [2]:
import pandas as pd

##### 2019

In [25]:
p2019= pd.read_csv('./data/LOCAL_PEOPLE_GU_2019.csv', encoding='CP949')
p2019.reset_index(inplace=True)
p2019 = p2019.shift(1, axis = 1)
p2019 = p2019.iloc[:, 1:5]
p2019.rename(columns = {'총생활인구수':'내국인총생활인구수'},inplace=True)
p2019

           기준일ID  시간대구분  자치구코드    내국인총생활인구수
0       20190101      0  11110  247783.9476
1       20190101      0  11140  176516.2769
2       20190101      0  11170  287806.8492
3       20190101      0  11200  335106.5204
4       20190101      0  11215  399818.0269
...          ...    ...    ...          ...
211195  20191231     23  11620  512045.7410
211196  20191231     23  11650  507017.9562
211197  20191231     23  11680  701730.1925
211198  20191231     23  11710  776809.6518
211199  20191231     23  11740  522271.9542

[211200 rows x 4 columns]

In [32]:
f2019 = pd.read_csv('./data/LONG_FOREIGNER_GU_2019.csv', encoding='CP949')
f2019 = f2019.iloc[:, :4]
f2019.drop(['시간대구분'], axis=1, inplace=True)
f2019.rename(columns = {'총생활인구수':'장기외국인총생활인구수'},inplace=True)
f2019

           기준일ID  자치구코드  장기외국인총생활인구수
0       20190101  11110   17781.8892
1       20190101  11140   18002.6187
2       20190101  11170   27306.3659
3       20190101  11200   17225.0885
4       20190101  11215   26007.8091
...          ...    ...          ...
211195  20191231  11620   23634.5007
211196  20191231  11650   12282.6724
211197  20191231  11680   23222.4219
211198  20191231  11710   21463.8273
211199  20191231  11740    9740.5395

[211200 rows x 3 columns]

In [27]:
t2019 = pd.read_csv('./data/TEMP_FOREIGNER_GU_2019.csv', encoding='CP949')
t2019 = t2019.iloc[:, :4]
t2019.rename(columns = {'stdr_de_id':'기준일ID', 'adstrd_code_se':'자치구코드', 'tot_lvpop_co':'단기외국인총생활인구수'},inplace=True)
t2019.drop(['tmzon_pd_se'], axis=1, inplace=True)
t2019

           기준일ID  자치구코드  단기외국인총생활인구수
0       20190101  11110   18704.4856
1       20190101  11140   64870.1850
2       20190101  11170   14723.9941
3       20190101  11200    2164.7635
4       20190101  11215    3008.5557
...          ...    ...          ...
211195  20191231  11620    2116.0139
211196  20191231  11650    7739.7494
211197  20191231  11680   29055.5705
211198  20191231  11710   12454.2277
211199  20191231  11740    1286.9974

[211200 rows x 3 columns]

In [28]:
p2019 = p2019.groupby('자치구코드').mean()
p2019 = p2019.iloc[:, 2:3]
p2019.rename(columns = {'내국인총생활인구수':'2019내국평균'},inplace=True)
p2019

            2019내국평균
자치구코드
11110  306886.323877
11140  291872.795318
11170  294049.066741
11200  345244.119383
11215  378990.841097
11230  364486.000008
11260  355284.805842
11290  429305.573259
11305  298162.425631
11320  281671.122400
11350  519186.751595
11380  436686.116958
11410  376098.633497
11440  469370.502474
11470  391665.610890
11500  537360.811868
11530  393527.113821
11545  220919.972793
11560  469820.230265
11590  402713.241137
11620  487850.179000
11650  592668.768770
11680  810522.256667
11710  759487.346576
11740  476638.806867

In [33]:
f2019 = f2019.groupby('자치구코드').mean()
f2019 = f2019.iloc[:, 1:3]
f2019.rename(columns = {'장기외국인총생활인구수':'2019장기평균'},inplace=True)
f2019

           2019장기평균
자치구코드
11110  18402.155322
11140  24375.475288
11170  22142.819814
11200  16810.652267
11215  23978.334000
11230  23765.857778
11260   5832.635929
11290  15382.014259
11305   5022.320296
11320   2921.906911
11350   5466.300315
11380   7114.778524
11410  24269.817496
11440  23546.917866
11470   5936.834120
11500  10246.612852
11530  27633.114678
11545  16439.767147
11560  37521.366874
11590  16552.315609
11620  22117.369970
11650  17176.408793
11680  22434.966147
11710  16562.981816
11740   9715.213117

In [34]:
t2019 = t2019.groupby('자치구코드').mean()
t2019 = t2019.iloc[:, 1:3]
t2019.rename(columns = {'단기외국인총생활인구수':'2019단기평균'},inplace=True)
t2019

           2019단기평균
자치구코드
11110  14084.767109
11140  48986.087794
11170   9466.503284
11200   1914.865531
11215   2311.289243
11230   3709.124363
11260    617.738155
11290   2438.159458
11305    829.898986
11320    489.048937
11350    995.283077
11380   1215.144127
11410  11152.706505
11440  18215.412387
11470   1023.603182
11500   8398.400349
11530   4181.425369
11545   1633.618262
11560   7241.415925
11590   1812.195142
11620   2111.091031
11650   6302.661092
11680  18920.999679
11710   5855.169400
11740   1249.786023

In [37]:
df19 = pd.merge(p2019,f2019, how='inner',on='자치구코드')
df19 = pd.merge(df19, t2019, how='inner', on='자치구코드')
df19[2019] = (df19['2019내국평균']+df19['2019장기평균']+df19['2019단기평균'])

            2019내국평균      2019장기평균      2019단기평균           2019
자치구코드
11110  306886.323877  18402.155322  14084.767109  339373.246309
11140  291872.795318  24375.475288  48986.087794  365234.358401
11170  294049.066741  22142.819814   9466.503284  325658.389838
11200  345244.119383  16810.652267   1914.865531  363969.637181
11215  378990.841097  23978.334000   2311.289243  405280.464341
11230  364486.000008  23765.857778   3709.124363  391960.982149
11260  355284.805842   5832.635929    617.738155  361735.179926
11290  429305.573259  15382.014259   2438.159458  447125.746976
11305  298162.425631   5022.320296    829.898986  304014.644913
11320  281671.122400   2921.906911    489.048937  285082.078248
11350  519186.751595   5466.300315    995.283077  525648.334986
11380  436686.116958   7114.778524   1215.144127  445016.039608
11410  376098.633497  24269.817496  11152.706505  411521.157498
11440  469370.502474  23546.917866  18215.412387  511132.832726
11470  391665.610890   5936.834120   1023.603182  398626.048192
11500  537360.811868  10246.612852   8398.400349  556005.825069
11530  393527.113821  27633.114678   4181.425369  425341.653868
11545  220919.972793  16439.767147   1633.618262  238993.358201
11560  469820.230265  37521.366874   7241.415925  514583.013065
11590  402713.241137  16552.315609   1812.195142  421077.751888
11620  487850.179000  22117.369970   2111.091031  512078.640001
11650  592668.768770  17176.408793   6302.661092  616147.838655
11680  810522.256667  22434.966147  18920.999679  851878.222493
11710  759487.346576  16562.981816   5855.169400  781905.497791
11740  476638.806867   9715.213117   1249.786023  487603.806007

In [38]:
df19.drop(['2019내국평균'], axis=1, inplace=True)
df19.drop(['2019장기평균'], axis=1, inplace=True)
df19.drop(['2019단기평균'], axis=1, inplace=True)
df19

                2019
자치구코드
11110  339373.246309
11140  365234.358401
11170  325658.389838
11200  363969.637181
11215  405280.464341
11230  391960.982149
11260  361735.179926
11290  447125.746976
11305  304014.644913
11320  285082.078248
11350  525648.334986
11380  445016.039608
11410  411521.157498
11440  511132.832726
11470  398626.048192
11500  556005.825069
11530  425341.653868
11545  238993.358201
11560  514583.013065
11590  421077.751888
11620  512078.640001
11650  616147.838655
11680  851878.222493
11710  781905.497791
11740  487603.806007

##### 2020

In [45]:
p2020= pd.read_csv('./data/LOCAL_PEOPLE_GU_2020.csv', encoding='CP949')
p2020 = p2020.iloc[:, 1:4]
p2020 = p2020.groupby('자치구코드').mean()
p2020.drop(['시간대구분'], axis=1, inplace=True)
p2020.rename(columns = {'총생활인구수':'2020내국평균'},inplace=True)
p2020

            2020내국평균
자치구코드
11110  275555.993144
11140  252604.611623
11170  283614.696701
11200  342621.307950
11215  367330.149639
11230  355213.977781
11260  360004.543538
11290  427384.421259
11305  303782.660177
11320  281814.428918
11350  526883.757334
11380  449520.247335
11410  359832.010431
11440  453824.059308
11470  399224.705518
11500  541960.918953
11530  389371.038847
11545  223753.480186
11560  456574.696985
11590  395237.900464
11620  487266.856266
11650  570379.327014
11680  805079.565628
11710  748124.575286
11740  504200.849207

In [46]:
f2020 = pd.read_csv('./data/LONG_FOREIGNER_GU_2020.csv', encoding='CP949')
f2020 = f2020.iloc[:, :4]
f2020.drop(['시간대구분'], axis=1, inplace=True)
f2020.rename(columns = {'총생활인구수':'장기외국인총생활인구수'},inplace=True)

f2020 = f2020.groupby('자치구코드').mean()
f2020 = f2020.iloc[:, 1:3]
f2020.rename(columns = {'장기외국인총생활인구수':'2020장기평균'},inplace=True)
f2020

           2020장기평균
자치구코드
11110  16060.037695
11140  19430.958038
11170  21064.411799
11200  15606.549416
11215  22042.954337
11230  22843.822566
11260   6280.180474
11290  15336.643484
11305   5221.309978
11320   2942.140685
11350   5335.241380
11380   6961.005745
11410  20756.276593
11440  20888.244192
11470   5868.251733
11500  10038.921618
11530  29477.515854
11545  17461.007679
11560  35680.627417
11590  15621.625903
11620  22519.700444
11650  15302.315864
11680  20429.239581
11710  16532.553818
11740   9319.971811

In [47]:
t2020 = pd.read_csv('./data/TEMP_FOREIGNER_GU_2020.csv', encoding='CP949')
t2020 = t2020.iloc[:, :4]
t2020.drop(['시간대구분'], axis=1, inplace=True)
t2020.rename(columns = {'총생활인구수':'단기외국인총생활인구수'},inplace=True)

t2020 = t2020.groupby('자치구코드').mean()
t2020 = t2020.iloc[:, 1:3]
t2020.rename(columns = {'단기외국인총생활인구수':'2020단기평균'},inplace=True)
t2020

           2020단기평균
자치구코드
11110   4718.002008
11140  11835.828830
11170   4432.420750
11200   2755.066531
11215   3187.181468
11230   4720.339750
11260    798.754746
11290   3076.034447
11305    808.459623
11320    619.037920
11350   1212.757647
11380   1338.484239
11410   5491.557933
11440   8219.482945
11470   1471.658385
11500   4386.556915
11530   5601.690591
11545   2344.577039
11560   5837.732824
11590   2896.967355
11620   3041.128645
11650   4811.295601
11680  10038.705036
11710   4604.641503
11740   1742.677401

In [48]:
df20 = pd.merge(p2020,f2020, how='inner',on='자치구코드')
df20 = pd.merge(df20, t2020, how='inner', on='자치구코드')
df20[2020] = (df20['2020내국평균']+df20['2020장기평균']+df20['2020단기평균'])

df20.drop(['2020내국평균'], axis=1, inplace=True)
df20.drop(['2020장기평균'], axis=1, inplace=True)
df20.drop(['2020단기평균'], axis=1, inplace=True)
df20

                2020
자치구코드
11110  296334.032846
11140  283871.398491
11170  309111.529250
11200  360982.923897
11215  392560.285444
11230  382778.140097
11260  367083.478758
11290  445797.099191
11305  309812.429778
11320  285375.607522
11350  533431.756361
11380  457819.737319
11410  386079.844957
11440  482931.786446
11470  406564.615637
11500  556386.397486
11530  424450.245292
11545  243559.064905
11560  498093.057225
11590  413756.493722
11620  512827.685355
11650  590492.938479
11680  835547.510245
11710  769261.770607
11740  515263.498419

In [50]:
df = pd.merge(df19,df20, how='inner',on='자치구코드')
df

                2019           2020
자치구코드
11110  339373.246309  296334.032846
11140  365234.358401  283871.398491
11170  325658.389838  309111.529250
11200  363969.637181  360982.923897
11215  405280.464341  392560.285444
11230  391960.982149  382778.140097
11260  361735.179926  367083.478758
11290  447125.746976  445797.099191
11305  304014.644913  309812.429778
11320  285082.078248  285375.607522
11350  525648.334986  533431.756361
11380  445016.039608  457819.737319
11410  411521.157498  386079.844957
11440  511132.832726  482931.786446
11470  398626.048192  406564.615637
11500  556005.825069  556386.397486
11530  425341.653868  424450.245292
11545  238993.358201  243559.064905
11560  514583.013065  498093.057225
11590  421077.751888  413756.493722
11620  512078.640001  512827.685355
11650  616147.838655  590492.938479
11680  851878.222493  835547.510245
11710  781905.497791  769261.770607
11740  487603.806007  515263.498419

##### 2021

In [51]:
p2021= pd.read_csv('./data/LOCAL_PEOPLE_GU_2021.csv', encoding='CP949')
p2021 = p2021.iloc[:, 1:4]
p2021 = p2021.groupby('자치구코드').mean()
p2021.drop(['시간대구분'], axis=1, inplace=True)
p2021.rename(columns = {'총생활인구수':'2021내국평균'},inplace=True)
p2021

            2021내국평균
자치구코드
11110  266700.622316
11140  243923.430830
11170  278545.750866
11200  340106.213926
11215  354362.139467
11230  343347.061614
11260  351437.515650
11290  415884.011276
11305  294209.744717
11320  274932.918100
11350  508080.116694
11380  435181.239326
11410  353612.006986
11440  438452.891444
11470  384186.880879
11500  538723.469586
11530  382433.653994
11545  218658.003643
11560  458187.110566
11590  377430.215681
11620  469004.265904
11650  555706.663750
11680  786141.100883
11710  735115.068078
11740  503065.174853

In [52]:
f2021 = pd.read_csv('./data/LONG_FOREIGNER_GU_2021.csv', encoding='CP949')
f2021 = f2021.iloc[:, :4]
f2021.drop(['시간대구분'], axis=1, inplace=True)
f2021.rename(columns = {'총생활인구수':'장기외국인총생활인구수'},inplace=True)

f2021 = f2021.groupby('자치구코드').mean()
f2021 = f2021.iloc[:, 1:3]
f2021.rename(columns = {'장기외국인총생활인구수':'2021장기평균'},inplace=True)
f2021

           2021장기평균
자치구코드
11110  14770.797068
11140  17919.870326
11170  18121.939279
11200  14685.991526
11215  20301.604010
11230  22169.361855
11260   5962.737895
11290  14460.760210
11305   4904.662838
11320   2914.111089
11350   5246.018693
11380   6031.149234
11410  18733.883396
11440  19253.119081
11470   5327.450435
11500   9601.957642
11530  30633.661881
11545  16880.548834
11560  37706.500801
11590  13515.711439
11620  21053.297010
11650  13376.982374
11680  19605.562119
11710  13888.403067
11740   8920.440745

In [53]:
t2021 = pd.read_csv('./data/TEMP_FOREIGNER_GU_2021.csv', encoding='CP949')
t2021 = t2021.iloc[:, :4]
t2021.drop(['시간대구분'], axis=1, inplace=True)
t2021.rename(columns = {'총생활인구수':'단기외국인총생활인구수'},inplace=True)

t2021 = t2021.groupby('자치구코드').mean()
t2021 = t2021.iloc[:, 1:3]
t2021.rename(columns = {'단기외국인총생활인구수':'2021단기평균'},inplace=True)
t2021

          2021단기평균
자치구코드
11110  3767.785217
11140  9898.780587
11170  3436.860981
11200  2868.229526
11215  2831.066079
11230  4375.758282
11260   708.783843
11290  3177.619881
11305   781.143472
11320   597.085740
11350  1034.958968
11380  1210.166003
11410  4302.343290
11440  5695.697980
11470  1580.563688
11500  3971.151078
11530  5882.318808
11545  2247.424910
11560  5266.313635
11590  2483.055938
11620  2797.901715
11650  3685.259902
11680  7097.174734
11710  3561.297877
11740  1329.593916

In [54]:
df21 = pd.merge(p2021,f2021, how='inner',on='자치구코드')
df21 = pd.merge(df21, t2021, how='inner', on='자치구코드')
df21[2021] = (df21['2021내국평균']+df21['2021장기평균']+df21['2021단기평균'])

df21.drop(['2021내국평균'], axis=1, inplace=True)
df21.drop(['2021장기평균'], axis=1, inplace=True)
df21.drop(['2021단기평균'], axis=1, inplace=True)
df21

                2021
자치구코드
11110  285239.204602
11140  271742.081744
11170  300104.551125
11200  357660.434978
11215  377494.809556
11230  369892.181750
11260  358109.037387
11290  433522.391366
11305  299895.551027
11320  278444.114929
11350  514361.094355
11380  442422.554564
11410  376648.233672
11440  463401.708506
11470  391094.895002
11500  552296.578306
11530  418949.634683
11545  237785.977388
11560  501159.925002
11590  393428.983058
11620  492855.464629
11650  572768.906026
11680  812843.837737
11710  752564.769021
11740  513315.209514

In [55]:
df = pd.merge(df,df21, how='inner',on='자치구코드')
df

                2019           2020           2021
자치구코드
11110  339373.246309  296334.032846  285239.204602
11140  365234.358401  283871.398491  271742.081744
11170  325658.389838  309111.529250  300104.551125
11200  363969.637181  360982.923897  357660.434978
11215  405280.464341  392560.285444  377494.809556
11230  391960.982149  382778.140097  369892.181750
11260  361735.179926  367083.478758  358109.037387
11290  447125.746976  445797.099191  433522.391366
11305  304014.644913  309812.429778  299895.551027
11320  285082.078248  285375.607522  278444.114929
11350  525648.334986  533431.756361  514361.094355
11380  445016.039608  457819.737319  442422.554564
11410  411521.157498  386079.844957  376648.233672
11440  511132.832726  482931.786446  463401.708506
11470  398626.048192  406564.615637  391094.895002
11500  556005.825069  556386.397486  552296.578306
11530  425341.653868  424450.245292  418949.634683
11545  238993.358201  243559.064905  237785.977388
11560  514583.013065  498093.057225  501159.925002
11590  421077.751888  413756.493722  393428.983058
11620  512078.640001  512827.685355  492855.464629
11650  616147.838655  590492.938479  572768.906026
11680  851878.222493  835547.510245  812843.837737
11710  781905.497791  769261.770607  752564.769021
11740  487603.806007  515263.498419  513315.209514

##### 2022

In [56]:
p2022= pd.read_csv('./data/LOCAL_PEOPLE_GU_2022.csv', encoding='CP949')
p2022 = p2022.iloc[:, 1:4]
p2022 = p2022.groupby('자치구코드').mean()
p2022.drop(['시간대구분'], axis=1, inplace=True)
p2022.rename(columns = {'총생활인구수':'2022내국평균'},inplace=True)
p2022

            2022내국평균
자치구코드
11110  276494.038272
11140  258463.417693
11170  283023.014832
11200  340197.554836
11215  357346.864473
11230  344805.846954
11260  348109.313828
11290  414983.791877
11305  286544.520071
11320  268864.735618
11350  495486.443706
11380  429097.720872
11410  354841.295681
11440  445361.865144
11470  371073.140162
11500  538115.188640
11530  383571.126937
11545  218324.523956
11560  469401.263753
11590  379345.616363
11620  465291.644803
11650  555864.053466
11680  804282.957775
11710  741288.807983
11740  499820.997231

In [58]:
f2022 = pd.read_csv('./data/LONG_FOREIGNER_GU_2022.csv', encoding='CP949')
f2022 = f2022.iloc[:, :4]
f2022.drop(['시간대구분'], axis=1, inplace=True)
f2022.rename(columns = {'총생활인구수':'장기외국인총생활인구수'},inplace=True)

f2022 = f2022.groupby('자치구코드').mean()
f2022 = f2022.iloc[:, 1:3]
f2022.rename(columns = {'장기외국인총생활인구수':'2022장기평균'},inplace=True)
print(f2022)

t2022 = pd.read_csv('./data/TEMP_FOREIGNER_GU_2022.csv', encoding='CP949')
t2022 = t2022.iloc[:, :4]
t2022.drop(['시간대구분'], axis=1, inplace=True)
t2022.rename(columns = {'총생활인구수':'단기외국인총생활인구수'},inplace=True)

t2022 = t2022.groupby('자치구코드').mean()
t2022 = t2022.iloc[:, 1:3]
t2022.rename(columns = {'단기외국인총생활인구수':'2022단기평균'},inplace=True)
print(t2022)

df22 = pd.merge(p2022,f2022, how='inner',on='자치구코드')
df22 = pd.merge(df22, t2022, how='inner', on='자치구코드')
df22[2022] = (df22['2022내국평균']+df22['2022장기평균']+df22['2022단기평균'])

df22.drop(['2022내국평균'], axis=1, inplace=True)
df22.drop(['2022장기평균'], axis=1, inplace=True)
df22.drop(['2022단기평균'], axis=1, inplace=True)
print(df22)

df = pd.merge(df,df22, how='inner',on='자치구코드')
print(df)

           2022장기평균
자치구코드
11110  16559.346258
11140  18687.067956
11170  17224.589774
11200  15994.668113
11215  21355.099022
11230  25227.513522
11260   5807.614823
11290  15119.428122
11305   4930.887888
11320   2756.981225
11350   5424.984272
11380   5637.647436
11410  20173.946161
11440  20106.566146
11470   4893.769883
11500   9048.740427
11530  31517.888692
11545  16550.706970
11560  40071.334061
11590  14429.317600
11620  20231.606013
11650  12823.657247
11680  19378.209507
11710  13285.902110
11740   8618.632401
           2022단기평균
자치구코드
11110   8169.054005
11140  19658.315471
11170   5780.299836
11200   3255.511908
11215   3244.723346
11230   4483.037460
11260    882.966430
11290   3275.615925
11305    992.742428
11320    729.787407
11350   1172.660582
11380   1397.924896
11410   8219.573666
11440  10902.903727
11470   1385.758700
11500   4708.049245
11530   5142.311365
11545   2012.184782
11560   6496.742791
11590   2886.405636
11620   2768.799236
11650   6235.035358
11680  15467.549966
11710   5070.717632
11740   1761.314939
                2022
자치구코드
11110  301222.438535
11140  296808.801121
11170  306027.904441
11200  359447.734858
11215  381946.686841
11230  374516.397936
11260  354799.895081
11290  433378.835924
11305  292468.150387
11320  272351.504249
11350  502084.088559
11380  436133.293204
11410  383234.815508
11440  476371.335017
11470  377352.668746
11500  551871.978312
11530  420231.326994
11545  236887.415708
11560  515969.340605
11590  396661.339600
11620  488292.050053
11650  574922.746070
11680  839128.717249
11710  759645.427724
11740  510200.944571
                2019           2020           2021           2022
자치구코드
11110  339373.246309  296334.032846  285239.204602  301222.438535
11140  365234.358401  283871.398491  271742.081744  296808.801121
11170  325658.389838  309111.529250  300104.551125  306027.904441
11200  363969.637181  360982.923897  357660.434978  359447.734858
11215  405280.464341  392560.285444  377494.809556  381946.686841
11230  391960.982149  382778.140097  369892.181750  374516.397936
11260  361735.179926  367083.478758  358109.037387  354799.895081
11290  447125.746976  445797.099191  433522.391366  433378.835924
11305  304014.644913  309812.429778  299895.551027  292468.150387
11320  285082.078248  285375.607522  278444.114929  272351.504249
11350  525648.334986  533431.756361  514361.094355  502084.088559
11380  445016.039608  457819.737319  442422.554564  436133.293204
11410  411521.157498  386079.844957  376648.233672  383234.815508
11440  511132.832726  482931.786446  463401.708506  476371.335017
11470  398626.048192  406564.615637  391094.895002  377352.668746
11500  556005.825069  556386.397486  552296.578306  551871.978312
11530  425341.653868  424450.245292  418949.634683  420231.326994
11545  238993.358201  243559.064905  237785.977388  236887.415708
11560  514583.013065  498093.057225  501159.925002  515969.340605
11590  421077.751888  413756.493722  393428.983058  396661.339600
11620  512078.640001  512827.685355  492855.464629  488292.050053
11650  616147.838655  590492.938479  572768.906026  574922.746070
11680  851878.222493  835547.510245  812843.837737  839128.717249
11710  781905.497791  769261.770607  752564.769021  759645.427724
11740  487603.806007  515263.498419  513315.209514  510200.944571

In [59]:
p2023= pd.read_csv('./data/LOCAL_PEOPLE_GU_2023.csv', encoding='CP949')
p2023 = p2023.iloc[:, 1:4]
p2023 = p2023.groupby('자치구코드').mean()
p2023.drop(['시간대구분'], axis=1, inplace=True)
p2023.rename(columns = {'총생활인구수':'2023내국평균'},inplace=True)
p2023

            2023내국평균
자치구코드
11110  279452.085614
11140  264173.059312
11170  281867.079744
11200  337202.060110
11215  358710.049725
11230  345201.375470
11260  341928.911182
11290  415975.969846
11305  277838.412389
11320  260379.259651
11350  483205.516305
11380  419347.240028
11410  355930.270018
11440  447281.187290
11470  363382.540101
11500  534033.918229
11530  383847.868807
11545  216598.845059
11560  472675.541920
11590  371832.322235
11620  457384.859565
11650  558168.032968
11680  814155.963499
11710  736256.937229
11740  498063.369940

In [60]:
f2023 = pd.read_csv('./data/LONG_FOREIGNER_GU_2023.csv', encoding='CP949')
f2023 = f2023.iloc[:, :4]
f2023.drop(['시간대구분'], axis=1, inplace=True)
f2023.rename(columns = {'총생활인구수':'장기외국인총생활인구수'},inplace=True)

f2023 = f2023.groupby('자치구코드').mean()
f2023 = f2023.iloc[:, 1:3]
f2023.rename(columns = {'장기외국인총생활인구수':'2023장기평균'},inplace=True)
print(f2023)

t2023 = pd.read_csv('./data/TEMP_FOREIGNER_GU_2023.csv', encoding='CP949')
t2023 = t2023.iloc[:, :4]
t2023.drop(['시간대구분'], axis=1, inplace=True)
t2023.rename(columns = {'총생활인구수':'단기외국인총생활인구수'},inplace=True)

t2023 = t2023.groupby('자치구코드').mean()
t2023 = t2023.iloc[:, 1:3]
t2023.rename(columns = {'단기외국인총생활인구수':'2023단기평균'},inplace=True)
print(t2023)

df23 = pd.merge(p2023,f2023, how='inner',on='자치구코드')
df23 = pd.merge(df23, t2023, how='inner', on='자치구코드')
df23[2023] = (df23['2023내국평균']+df23['2023장기평균']+df23['2023단기평균'])

df23.drop(['2023내국평균'], axis=1, inplace=True)
df23.drop(['2023장기평균'], axis=1, inplace=True)
df23.drop(['2023단기평균'], axis=1, inplace=True)
print(df23)

df = pd.merge(df,df23, how='inner',on='자치구코드')
print(df)

           2023장기평균
자치구코드
11110  17374.618448
11140  19254.674942
11170  16164.511392
11200  15585.941936
11215  22286.528740
11230  26067.449748
11260   5764.771058
11290  16080.279328
11305   5814.789641
11320   2824.905662
11350   5438.811640
11380   5664.052819
11410  21325.638194
11440  20515.278638
11470   4790.715213
11500   9214.499516
11530  31422.368132
11545  16664.786256
11560  40769.365266
11590  14510.587375
11620  19991.523318
11650  13079.892616
11680  19513.629617
11710  13321.671305
11740   9019.285313
           2023단기평균
자치구코드
11110  12981.088601
11140  37327.944713
11170   7841.065080
11200   2926.481562
11215   2946.674905
11230   3682.412917
11260    645.913693
11290   2590.741051
11305    805.050223
11320    530.385490
11350    893.705677
11380   1144.779910
11410  10742.024217
11440  16359.524971
11470    859.171412
11500   7855.349718
11530   4470.215583
11545   1954.499464
11560   8496.086947
11590   2062.317136
11620   2335.735028
11650   5991.416605
11680  18428.337351
11710   5255.373449
11740   1192.010073
                2023
자치구코드
11110  309807.792662
11140  320755.678967
11170  305872.656216
11200  355714.483608
11215  383943.253370
11230  374951.238134
11260  348339.595933
11290  434646.990225
11305  284458.252253
11320  263734.550803
11350  489538.033622
11380  426156.072757
11410  387997.932429
11440  484155.990899
11470  369032.426725
11500  551103.767463
11530  419740.452522
11545  235218.130779
11560  521940.994132
11590  388405.226746
11620  479712.117911
11650  577239.342189
11680  852097.930466
11710  754833.981983
11740  508274.665326
                2019           2020           2021           2022  \
자치구코드
11110  339373.246309  296334.032846  285239.204602  301222.438535
11140  365234.358401  283871.398491  271742.081744  296808.801121
11170  325658.389838  309111.529250  300104.551125  306027.904441
11200  363969.637181  360982.923897  357660.434978  359447.734858
11215  405280.464341  392560.285444  377494.809556  381946.686841
11230  391960.982149  382778.140097  369892.181750  374516.397936
11260  361735.179926  367083.478758  358109.037387  354799.895081
11290  447125.746976  445797.099191  433522.391366  433378.835924
11305  304014.644913  309812.429778  299895.551027  292468.150387
11320  285082.078248  285375.607522  278444.114929  272351.504249
11350  525648.334986  533431.756361  514361.094355  502084.088559
11380  445016.039608  457819.737319  442422.554564  436133.293204
11410  411521.157498  386079.844957  376648.233672  383234.815508
11440  511132.832726  482931.786446  463401.708506  476371.335017
11470  398626.048192  406564.615637  391094.895002  377352.668746
11500  556005.825069  556386.397486  552296.578306  551871.978312
11530  425341.653868  424450.245292  418949.634683  420231.326994
11545  238993.358201  243559.064905  237785.977388  236887.415708
11560  514583.013065  498093.057225  501159.925002  515969.340605
11590  421077.751888  413756.493722  393428.983058  396661.339600
11620  512078.640001  512827.685355  492855.464629  488292.050053
11650  616147.838655  590492.938479  572768.906026  574922.746070
11680  851878.222493  835547.510245  812843.837737  839128.717249
11710  781905.497791  769261.770607  752564.769021  759645.427724
11740  487603.806007  515263.498419  513315.209514  510200.944571

                2023
자치구코드
11110  309807.792662
11140  320755.678967
11170  305872.656216
11200  355714.483608
11215  383943.253370
11230  374951.238134
11260  348339.595933
11290  434646.990225
11305  284458.252253
11320  263734.550803
11350  489538.033622
11380  426156.072757
11410  387997.932429
11440  484155.990899
11470  369032.426725
11500  551103.767463
11530  419740.452522
11545  235218.130779
11560  521940.994132
11590  388405.226746
11620  479712.117911
11650  577239.342189
11680  852097.930466
11710  754833.981983
11740  508274.665326

##### merge

In [68]:
df

,2019,2020,2021,2022,2023
자치구코드,,,,,
11110,339373.246309,296334.032846,285239.204602,301222.438535,309807.792662
11140,365234.358401,283871.398491,271742.081744,296808.801121,320755.678967
11170,325658.389838,309111.529250,300104.551125,306027.904441,305872.656216
11200,363969.637181,360982.923897,357660.434978,359447.734858,355714.483608
11215,405280.464341,392560.285444,377494.809556,381946.686841,383943.253370
11230,391960.982149,382778.140097,369892.181750,374516.397936,374951.238134
11260,361735.179926,367083.478758,358109.037387,354799.895081,348339.595933
11290,447125.746976,445797.099191,433522.391366,433378.835924,434646.990225
11305,304014.644913,309812.429778,299895.551027,292468.150387,284458.252253
11320,285082.078248,285375.607522,278444.114929,272351.504249,263734.550803
11350,525648.334986,533431.756361,514361.094355,502084.088559,489538.033622
11380,445016.039608,457819.737319,442422.554564,436133.293204,426156.072757
11410,411521.157498,386079.844957,376648.233672,383234.815508,387997.932429
11440,511132.832726,482931.786446,463401.708506,476371.335017,484155.990899
11470,398626.048192,406564.615637,391094.895002,377352.668746,369032.426725
11500,556005.825069,556386.397486,552296.578306,551871.978312,551103.767463
11530,425341.653868,424450.245292,418949.634683,420231.326994,419740.452522
11545,238993.358201,243559.064905,237785.977388,236887.415708,235218.130779
11560,514583.013065,498093.057225,501159.925002,515969.340605,521940.994132
11590,421077.751888,413756.493722,393428.983058,396661.339600,388405.226746
11620,512078.640001,512827.685355,492855.464629,488292.050053,479712.117911
11650,616147.838655,590492.938479,572768.906026,574922.746070,577239.342189
11680,851878.222493,835547.510245,812843.837737,839128.717249,852097.930466
11710,781905.497791,769261.770607,752564.769021,759645.427724,754833.981983
11740,487603.806007,515263.498419,513315.209514,510200.944571,508274.665326

In [69]:
info= pd.read_excel('./data/행정동코드_매핑정보_20200325.xlsx', sheet_name="유입지코드")

In [70]:
info = info.iloc[0:25,0:3]

In [71]:
info

    RESD_CD RESD_DO_NM RESC_CT_NM
0     11110         서울        종로구
1     11140         서울         중구
2     11170         서울        용산구
3     11200         서울        성동구
4     11215         서울        광진구
5     11230         서울       동대문구
6     11260         서울        중랑구
7     11290         서울        성북구
8     11305         서울        강북구
9     11320         서울        도봉구
10    11350         서울        노원구
11    11380         서울        은평구
12    11410         서울       서대문구
13    11440         서울        마포구
14    11470         서울        양천구
15    11500         서울        강서구
16    11530         서울        구로구
17    11545         서울        금천구
18    11560         서울       영등포구
19    11590         서울        동작구
20    11620         서울        관악구
21    11650         서울        서초구
22    11680         서울        강남구
23    11710         서울        송파구
24    11740         서울        강동구

In [72]:
info.drop(['RESD_DO_NM'], axis=1, inplace=True)
info.rename(columns = {'RESD_CD':'자치구코드', 'RESC_CT_NM':'자치구'},inplace=True)
info

    자치구코드   자치구
0   11110   종로구
1   11140    중구
2   11170   용산구
3   11200   성동구
4   11215   광진구
5   11230  동대문구
6   11260   중랑구
7   11290   성북구
8   11305   강북구
9   11320   도봉구
10  11350   노원구
11  11380   은평구
12  11410  서대문구
13  11440   마포구
14  11470   양천구
15  11500   강서구
16  11530   구로구
17  11545   금천구
18  11560  영등포구
19  11590   동작구
20  11620   관악구
21  11650   서초구
22  11680   강남구
23  11710   송파구
24  11740   강동구

In [73]:
info = info.set_index("자치구코드")
info

        자치구
자치구코드
11110   종로구
11140    중구
11170   용산구
11200   성동구
11215   광진구
11230  동대문구
11260   중랑구
11290   성북구
11305   강북구
11320   도봉구
11350   노원구
11380   은평구
11410  서대문구
11440   마포구
11470   양천구
11500   강서구
11530   구로구
11545   금천구
11560  영등포구
11590   동작구
11620   관악구
11650   서초구
11680   강남구
11710   송파구
11740   강동구

In [75]:
df = pd.merge(info, df, how='inner', on='자치구코드')

In [76]:
df

,자치구,2019,2020,2021,2022,2023
자치구코드,,,,,,
11110,종로구,339373.246309,296334.032846,285239.204602,301222.438535,309807.792662
11140,중구,365234.358401,283871.398491,271742.081744,296808.801121,320755.678967
11170,용산구,325658.389838,309111.529250,300104.551125,306027.904441,305872.656216
11200,성동구,363969.637181,360982.923897,357660.434978,359447.734858,355714.483608
11215,광진구,405280.464341,392560.285444,377494.809556,381946.686841,383943.253370
11230,동대문구,391960.982149,382778.140097,369892.181750,374516.397936,374951.238134
11260,중랑구,361735.179926,367083.478758,358109.037387,354799.895081,348339.595933
11290,성북구,447125.746976,445797.099191,433522.391366,433378.835924,434646.990225
11305,강북구,304014.644913,309812.429778,299895.551027,292468.150387,284458.252253
11320,도봉구,285082.078248,285375.607522,278444.114929,272351.504249,263734.550803
11350,노원구,525648.334986,533431.756361,514361.094355,502084.088559,489538.033622
11380,은평구,445016.039608,457819.737319,442422.554564,436133.293204,426156.072757
11410,서대문구,411521.157498,386079.844957,376648.233672,383234.815508,387997.932429
11440,마포구,511132.832726,482931.786446,463401.708506,476371.335017,484155.990899
11470,양천구,398626.048192,406564.615637,391094.895002,377352.668746,369032.426725
11500,강서구,556005.825069,556386.397486,552296.578306,551871.978312,551103.767463
11530,구로구,425341.653868,424450.245292,418949.634683,420231.326994,419740.452522
11545,금천구,238993.358201,243559.064905,237785.977388,236887.415708,235218.130779
11560,영등포구,514583.013065,498093.057225,501159.925002,515969.340605,521940.994132
11590,동작구,421077.751888,413756.493722,393428.983058,396661.339600,388405.226746
11620,관악구,512078.640001,512827.685355,492855.464629,488292.050053,479712.117911
11650,서초구,616147.838655,590492.938479,572768.906026,574922.746070,577239.342189
11680,강남구,851878.222493,835547.510245,812843.837737,839128.717249,852097.930466
11710,송파구,781905.497791,769261.770607,752564.769021,759645.427724,754833.981983
11740,강동구,487603.806007,515263.498419,513315.209514,510200.944571,508274.665326

In [77]:
df.to_csv("LOCAL_PEOPLE_GU_2.csv", encoding='CP949')